<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="gbsoft.com.dental_gb">

    <uses-permission android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_teeth"
        android:label="Genty"
        android:roundIcon="@mipmap/ic_teeth_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".AlarmActivity"></activity>
        <!-- FCM messaging service -->
        <service
            android:name=".MessageService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- NotificationListener -->
        <service
            android:name=".NotificationListener"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <activity
            android:name=".RequestDetailActivity2"
            android:exported="false" />
        <activity
            android:name=".RequestActivity2"
            android:exported="false" />
        <activity
            android:name=".ReleaseDetailActivity2"
            android:exported="false" />
        <activity
            android:name=".ReleaseActivity2"
            android:exported="false" />
        <activity
            android:name=".MaterialsLemonRegistryActivity"
            android:exported="false" />
        <activity
            android:name=".MaterialsManagementActivity"
            android:exported="false" />
        <activity
            android:name=".GoldInOutputRegistryActivity"
            android:exported="false" />
        <activity
            android:name=".GoldInOutputHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".GoldActivity2"
            android:exported="false" />
        <activity
            android:name=".PlantSelectMonitoringActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".PlantMonitoringActivity"
            android:exported="false" />
        <activity
            android:name=".PlantPowerSwitchActivity"
            android:exported="false" />
        <activity
            android:name=".SearchActivity"
            android:exported="false" />
        <activity
            android:name=".PlantDetailActivity"
            android:exported="false" />
        <activity
            android:name=".PlantListActivity"
            android:exported="false" />
        <activity
            android:name=".PlantManagementActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="gbsoft.com.dental_gb.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".MenuActivity" />
        <activity
            android:name=".MyPageActivity"
            android:exported="false" />
        <activity
            android:name=".MyPageActivity2"
            android:exported="false"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog.NoActionBar" />
        <activity
            android:name=".ClientActivity"
            android:exported="false" />
        <activity
            android:name=".ClientDetailActivity"
            android:exported="false" />
        <activity
            android:name=".NoticeActivity"
            android:exported="false" />
        <activity
            android:name=".NoticeDetailActivity"
            android:exported="false" />
        <activity
            android:name=".MenuActivity2"
            android:exported="false" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:exported="false"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />
        <activity
            android:name=".MaterialsActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".GoldActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".GoldOutActivity"
            android:exported="false" />
        <activity
            android:name=".GoldDetailActivity"
            android:exported="false" />
        <activity
            android:name=".GoldOutRequestActivity"
            android:exported="false"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog.NoActionBar" />
        <activity
            android:name=".RequestImageActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".MaterialsFaultyActivity"
            android:exported="false"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog.NoActionBar" />
        <activity
            android:name=".OrderActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".RequestActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".FilterActivity"
            android:exported="false"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog.NoActionBar" />
        <activity
            android:name=".RequestDetailActivity"
            android:exported="false"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog.NoActionBar" />
        <activity
            android:name=".OrderCommitActivity"
            android:exported="false"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ProcessActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".ProcessDetailActivity"
            android:exported="false" />
        <activity android:name=".BarcodeActivity" />
        <activity android:name=".ProcessBarcodeActivity" />
        <activity
            android:name=".MemoActivity"
            android:exported="false"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog.NoActionBar" />
        <activity
            android:name=".ReleaseActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".ReleaseDetailActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".MonitoringActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>